# MiniProject Version 2

## Steps:
    1) Join all tables
    2) Strip all text data
    3) Fill empty data
    4) Fill NaN
    5) remove customer names, address city?
    6) Engineer Categoty data into 0s and 1s
    7) Rescale all data from 0 to 1

In [1]:
import datetime
import copy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def removeWhitespace(df):
    for column in df:
        if type(df[column][0]) is str: # check type data is string
            try:
                df[column] = df[column].str.strip()
                print(df[column].name, 'stripped')
            except:
                print('A problem occurred on column', df[column].name)

In [53]:
def rmWhiteAll(df_name_list):
    for df_name in df_name_list:
        try:
            print(f'***** {df_name} whitespace cleaned *****')
            df = globals()[f'{df_name}']
            removeWhitespace(df)
            print('\n')
        except:
            print(f'*** A problem occurred with {df_name}')

In [ ]:
def flagEmptyText

In [3]:
filePaths = ['data/twm_accounts.csv', 'data/twm_checking_acct.csv', 'data/twm_checking_tran.csv',
             'data/twm_credit_acct.csv', 'data/twm_credit_tran.csv', 'data/twm_customer.csv',
             'data/twm_savings_acct.csv', 'data/twm_savings_tran.csv', 'data/twm_transactions.csv']

df_names = ['df_acct', 'df_chk_acct', 'df_chk_tran',
            'df_cr_acct', 'df_cr_tran', 'df_cust',
            'df_sav_acct', 'df_sav_tran','df_all_tran']

In [49]:
def load_data(filePaths, df_names):
    if not len(filePaths) == len(df_names):
        print('filePaths and df_name must be the same length')
        return None
    for filePath, df_name in zip(filePaths, df_names):
        globals()[f'{df_name}'] = pd.read_csv(filePath, sep=';') # Dynamic Variable Name usage
        print('data from', filePath, 'loaded into',  df_name)

In [54]:
load_data(filePaths, df_names)

data from data/twm_accounts.csv loaded into df_acct
data from data/twm_checking_acct.csv loaded into df_chk_acct
data from data/twm_checking_tran.csv loaded into df_chk_tran
data from data/twm_credit_acct.csv loaded into df_cr_acct
data from data/twm_credit_tran.csv loaded into df_cr_tran
data from data/twm_customer.csv loaded into df_cust
data from data/twm_savings_acct.csv loaded into df_sav_acct
data from data/twm_savings_tran.csv loaded into df_sav_tran
data from data/twm_transactions.csv loaded into df_all_tran

In [7]:
def getDfSize(aList):
    for item in aList:
        try:
            rows = max(globals()[f'{item}'].count()) # Dynamic Variable Name usage
            columns = len(globals()[f'{item}'].columns)
            print(f'{item} has {columns} columns and {rows} rows' )
        except:
            print(f'Could not count {item}')

In [51]:
getDfSize(df_names)

df_acct has 8 columns and 1409 rows
df_chk_acct has 9 columns and 520 rows
df_chk_tran has 10 columns and 46204 rows
df_cr_acct has 9 columns and 468 rows
df_cr_tran has 10 columns and 20167 rows
df_cust has 15 columns and 747 rows
df_sav_acct has 9 columns and 421 rows
df_sav_tran has 10 columns and 11189 rows
df_all_tran has 10 columns and 77580 rows

In [ ]:
def findColumn(column_name, df_names): # df_names must be a list of the names of the dfs NOT the actual dfs
    for df_name in df_names:
        if column_name in globals()[f'{df_name}'].columns:
            print(f'{df_name} contains {column_name}')
            continue
        print(f'{df_name} does not contain {column_name}')

In [9]:
df_all_tran.nunique()

tran_id            155
acct_nbr          1398
tran_amt         33465
principal_amt    32715
interest_amt      1907
new_balance      55730
tran_date          365
tran_time        33276
channel             11
tran_code           13
dtype: int64

In [55]:
rmWhiteAll(df_names)

***** df_acct whitespace cleaned *****
acct_type stripped
account_active stripped
acct_start_date stripped


***** df_chk_acct whitespace cleaned *****
account_active stripped
acct_start_date stripped


***** df_chk_tran whitespace cleaned *****
tran_date stripped
tran_time stripped
channel stripped
tran_code stripped


***** df_cr_acct whitespace cleaned *****
account_active stripped
acct_start_date stripped


***** df_cr_tran whitespace cleaned *****
tran_date stripped
tran_time stripped
channel stripped
tran_code stripped


***** df_cust whitespace cleaned *****
gender stripped
name_prefix stripped
first_name stripped
last_name stripped
street_name stripped
city_name stripped
state_code stripped


***** df_sav_acct whitespace cleaned *****
acct_type stripped
account_active stripped
acct_start_date stripped


***** df_sav_tran whitespace cleaned *****
tran_date stripped
tran_time stripped
channel stripped
tran_code stripped


***** df_all_tran whitespace cleaned *****
tran_date stripped
channel stripped
tran_code stripped

In [12]:
findColumn('cust_id', df_names)

df_acct contains cust_id
df_chk_acct contains cust_id
df_chk_tran contains cust_id
df_cr_acct contains cust_id
df_cr_tran contains cust_id
df_cust contains cust_id
df_sav_acct contains cust_id
df_sav_tran contains cust_id
df_all_tran does not contain cust_id

In [13]:
# Create a Dynamic Variable Name in Python
for x in ['w', 'b']:
    globals()[f'{x}'] = f"dsfsdfHello the variable number {x}!"
print(w)

dsfsdfHello the variable number w!

In [14]:
# x = df_accts.set_index('cust_id').join(df_cust.set_index('cust_id')) # wrong way to join

In [ ]:
# x = df_cust.set_index('cust_id').join(df_accts.set_index('cust_id')) # better way to join

In [ ]:
#df_join_names = df_names
#df_join_names.remove('df_cust')

In [15]:
df_names

['df_acct',
 'df_chk_acct',
 'df_chk_tran',
 'df_cr_acct',
 'df_cr_tran',
 'df_cust',
 'df_sav_acct',
 'df_sav_tran',
 'df_all_tran']

In [16]:
dfs =[df_acct, df_chk_acct, df_chk_tran,
      df_cr_acct, df_cr_tran, df_cust,
      df_sav_acct, df_sav_tran, df_all_tran]

In [56]:
x = df_acct.merge(df_cust, how='outer', on='cust_id')

In [57]:
x.head()

,acct_nbr,cust_id,acct_type,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance,income,age,...,gender,marital_status,name_prefix,first_name,last_name,street_nbr,street_name,postal_code,city_name,state_code
0,1.362806e+07,1362806,SV,Y,10.12.1995,NaN,1430.22,284.58,39382,24,...,M,3,Mr.,Randy,McCarthy,15648,Juniper,60605,Chicago,IL
1,1.362806e+07,1362806,CK,Y,22.11.1993,NaN,218.47,2561.24,39382,24,...,M,3,Mr.,Randy,McCarthy,15648,Juniper,60605,Chicago,IL
2,4.561143e+15,1362806,CC,Y,27.11.1994,NaN,214.46,1541.64,39382,24,...,M,3,Mr.,Randy,McCarthy,15648,Juniper,60605,Chicago,IL
3,4.561143e+15,1362709,CC,Y,15.3.1993,NaN,266.34,496.15,5981,74,...,F,2,Dr.,Colleen,Malcom,4922,Alamo,90190,Los Angeles,CA
4,1.362709e+07,1362709,SV,Y,8.9.1995,NaN,134.28,917.33,5981,74,...,F,2,Dr.,Colleen,Malcom,4922,Alamo,90190,Los Angeles,CA

In [26]:
#y = df_cust.merge(dfs, how='outer', on='cust_id')

In [58]:
x = x.merge(df_chk_acct, how='outer', on='cust_id')
#x = x.merge(df_chk_tran, how='outer', on='cust_id')
x = x.merge(df_cr_acct, how='outer', on='cust_id')
#x = x.merge(df_cr_tran, how='outer', on='cust_id')
#x = x.merge(df_sav_acct, how='outer', on='cust_id')
#x = x.merge(df_sav_tran, how='outer', on='cust_id')
#x = x.merge(df_all_tran, how='outer', on='cust_id')

In [37]:
len(x.columns)

38

In [45]:
x = 0

In [35]:
getDfSize(x)

Could not count acct_nbr_x
Could not count cust_id
Could not count acct_type
Could not count account_active_x
Could not count acct_start_date_x
Could not count acct_end_date_x
Could not count starting_balance_x
Could not count ending_balance_x
Could not count income
Could not count age
Could not count years_with_bank
Could not count nbr_children
Could not count gender
Could not count marital_status
Could not count name_prefix
Could not count first_name
Could not count last_name
Could not count street_nbr
Could not count street_name
Could not count postal_code
Could not count city_name
Could not count state_code
Could not count acct_nbr_y
Could not count minimum_balance
Could not count per_check_fee
Could not count account_active_y
Could not count acct_start_date_y
Could not count acct_end_date_y
Could not count starting_balance_y
Could not count ending_balance_y
Could not count acct_nbr
Could not count credit_limit
Could not count credit_rating
Could not count account_active
Could not count acct_start_date
Could not count acct_end_date
Could not count starting_balance
Could not count ending_balance

In [ ]:

# *************** HANGS

#for df_name in df_join_names:
#    df_accts = df_accts.merge(globals()[f'{df_name}'], how='outer', on='cust_id')

In [ ]:
x.count()

In [ ]:
removeWhitespace(x)

In [ ]:
x[x['name_prefix']==''].count()

In [ ]:
y = x['name_prefix']

In [ ]:
len(y=='')

In [ ]:
y

In [ ]:
import numpy as np

import matplotlib.pyplot as plt
from matplotlib.patches import Circle, RegularPolygon
from matplotlib.path import Path
from matplotlib.projections.polar import PolarAxes
from matplotlib.projections import register_projection
from matplotlib.spines import Spine
from matplotlib.transforms import Affine2D


def radar_factory(num_vars, frame='circle'):
    """
    Create a radar chart with `num_vars` axes.

    This function creates a RadarAxes projection and registers it.

    Parameters
    ----------
    num_vars : int
        Number of variables for radar chart.
    frame : {'circle', 'polygon'}
        Shape of frame surrounding axes.

    """
    # calculate evenly-spaced axis angles
    theta = np.linspace(0, 2*np.pi, num_vars, endpoint=False)

    class RadarAxes(PolarAxes):

        name = 'radar'
        # use 1 line segment to connect specified points
        RESOLUTION = 1

        def __init__(self, *args, **kwargs):
            super().__init__(*args, **kwargs)
            # rotate plot such that the first axis is at the top
            self.set_theta_zero_location('N')

        def fill(self, *args, closed=True, **kwargs):
            """Override fill so that line is closed by default"""
            return super().fill(closed=closed, *args, **kwargs)

        def plot(self, *args, **kwargs):
            """Override plot so that line is closed by default"""
            lines = super().plot(*args, **kwargs)
            for line in lines:
                self._close_line(line)

        def _close_line(self, line):
            x, y = line.get_data()
            # FIXME: markers at x[0], y[0] get doubled-up
            if x[0] != x[-1]:
                x = np.append(x, x[0])
                y = np.append(y, y[0])
                line.set_data(x, y)

        def set_varlabels(self, labels):
            self.set_thetagrids(np.degrees(theta), labels)

        def _gen_axes_patch(self):
            # The Axes patch must be centered at (0.5, 0.5) and of radius 0.5
            # in axes coordinates.
            if frame == 'circle':
                return Circle((0.5, 0.5), 0.5)
            elif frame == 'polygon':
                return RegularPolygon((0.5, 0.5), num_vars,
                                      radius=.5, edgecolor="k")
            else:
                raise ValueError("Unknown value for 'frame': %s" % frame)

        def _gen_axes_spines(self):
            if frame == 'circle':
                return super()._gen_axes_spines()
            elif frame == 'polygon':
                # spine_type must be 'left'/'right'/'top'/'bottom'/'circle'.
                spine = Spine(axes=self,
                              spine_type='circle',
                              path=Path.unit_regular_polygon(num_vars))
                # unit_regular_polygon gives a polygon of radius 1 centered at
                # (0, 0) but we want a polygon of radius 0.5 centered at (0.5,
                # 0.5) in axes coordinates.
                spine.set_transform(Affine2D().scale(.5).translate(.5, .5)
                                    + self.transAxes)
                return {'polar': spine}
            else:
                raise ValueError("Unknown value for 'frame': %s" % frame)

    register_projection(RadarAxes)
    return theta


def example_data():
    # The following data is from the Denver Aerosol Sources and Health study.
    # See doi:10.1016/j.atmosenv.2008.12.017
    #
    # The data are pollution source profile estimates for five modeled
    # pollution sources (e.g., cars, wood-burning, etc) that emit 7-9 chemical
    # species. The radar charts are experimented with here to see if we can
    # nicely visualize how the modeled source profiles change across four
    # scenarios:
    #  1) No gas-phase species present, just seven particulate counts on
    #     Sulfate
    #     Nitrate
    #     Elemental Carbon (EC)
    #     Organic Carbon fraction 1 (OC)
    #     Organic Carbon fraction 2 (OC2)
    #     Organic Carbon fraction 3 (OC3)
    #     Pyrolized Organic Carbon (OP)
    #  2)Inclusion of gas-phase specie carbon monoxide (CO)
    #  3)Inclusion of gas-phase specie ozone (O3).
    #  4)Inclusion of both gas-phase species is present...
    data = [
        ['Sulfate', 'Nitrate', 'EC', 'OC1', 'OC2', 'OC3', 'OP', 'CO', 'O3'],
        ('Basecase', [
            [0.88, 0.01, 0.03, 0.03, 0.00, 0.06, 0.01, 0.00, 0.00],
            [0.07, 0.95, 0.04, 0.05, 0.00, 0.02, 0.01, 0.00, 0.00],
            [0.01, 0.02, 0.85, 0.19, 0.05, 0.10, 0.00, 0.00, 0.00],
            [0.02, 0.01, 0.07, 0.01, 0.21, 0.12, 0.98, 0.00, 0.00],
            [0.01, 0.01, 0.02, 0.71, 0.74, 0.70, 0.00, 0.00, 0.00]]),
        ('With CO', [
            [0.88, 0.02, 0.02, 0.02, 0.00, 0.05, 0.00, 0.05, 0.00],
            [0.08, 0.94, 0.04, 0.02, 0.00, 0.01, 0.12, 0.04, 0.00],
            [0.01, 0.01, 0.79, 0.10, 0.00, 0.05, 0.00, 0.31, 0.00],
            [0.00, 0.02, 0.03, 0.38, 0.31, 0.31, 0.00, 0.59, 0.00],
            [0.02, 0.02, 0.11, 0.47, 0.69, 0.58, 0.88, 0.00, 0.00]]),
        ('With O3', [
            [0.89, 0.01, 0.07, 0.00, 0.00, 0.05, 0.00, 0.00, 0.03],
            [0.07, 0.95, 0.05, 0.04, 0.00, 0.02, 0.12, 0.00, 0.00],
            [0.01, 0.02, 0.86, 0.27, 0.16, 0.19, 0.00, 0.00, 0.00],
            [0.01, 0.03, 0.00, 0.32, 0.29, 0.27, 0.00, 0.00, 0.95],
            [0.02, 0.00, 0.03, 0.37, 0.56, 0.47, 0.87, 0.00, 0.00]]),
        ('CO & O3', [
            [0.87, 0.01, 0.08, 0.00, 0.00, 0.04, 0.00, 0.00, 0.01],
            [0.09, 0.95, 0.02, 0.03, 0.00, 0.01, 0.13, 0.06, 0.00],
            [0.01, 0.02, 0.71, 0.24, 0.13, 0.16, 0.00, 0.50, 0.00],
            [0.01, 0.03, 0.00, 0.28, 0.24, 0.23, 0.00, 0.44, 0.88],
            [0.02, 0.00, 0.18, 0.45, 0.64, 0.55, 0.86, 0.00, 0.16]])
    ]
    return data


if __name__ == '__main__':
    N = 9 # **************************************** NUMBER OF SPOKES
    theta = radar_factory(N, frame='polygon')

    data = example_data() #******************************************** DATA
    spoke_labels = data.pop(0)

    fig, axs = plt.subplots(figsize=(9, 9), nrows=2, ncols=2,
                            subplot_kw=dict(projection='radar'))
    fig.subplots_adjust(wspace=0.25, hspace=0.20, top=0.85, bottom=0.05)

    colors = ['b', 'r', 'g', 'm', 'y']
    # Plot the four cases from the example data on separate axes
    for ax, (title, case_data) in zip(axs.flat, data):
        ax.set_rgrids([0.2, 0.4, 0.6, 0.8])
        ax.set_title(title, weight='bold', size='medium', position=(0.5, 1.1),
                     horizontalalignment='center', verticalalignment='center')
        for d, color in zip(case_data, colors):
            ax.plot(theta, d, color=color)
            ax.fill(theta, d, facecolor=color, alpha=0.25)
        ax.set_varlabels(spoke_labels)

    # add legend relative to top-left plot
    labels = ('Factor 1', 'Factor 2', 'Factor 3', 'Factor 4', 'Factor 5')
    legend = axs[0, 0].legend(labels, loc=(0.9, .95),
                              labelspacing=0.1, fontsize='small')

    fig.text(0.5, 0.965, '5-Factor Solution Profiles Across Four Scenarios',
             horizontalalignment='center', color='black', weight='bold',
             size='large')

    plt.show()